{% set page_name = 'Home' %}

{% extends "layouts/main.layout.html" %} 

{% block content %}

<div class="main-screen">
    <div class="header">
        <div class="header-search">
            <img src="./img/header_search_icon.svg" alt="search">
        </div>
        <div class="header-nav">
            <a href="#" class="nav-link_">биография</a>
            <a href="#" class="nav-link_">творчество</a>
            <a href="#" class="nav-link_">картины</a>
            <a href="#" class="nav-link_">музеи</a>
        </div>
        <a href="#" class="nav-menu">
            <img src="./img/Group.png" alt="">
        </a>
    </div>

    <h1>
        картины
            <span class="contrast">
                бориса
                <br>
                кустодиева
            </span>
    </h1>

    <div class="slider">
        <div class="slider__film">
            <img src="./img/gallery/Rectangle 2.1.png" alt="" class="slide">
            <img src="./img/gallery/Group 4.png" alt="" class="slide">
            <img src="./img/gallery/Rectangle 2.3.png" alt="" class="slide">
            <img src="./img/gallery/Rectangle 3.1.png" alt="" class="slide">
            <img src="./img/gallery/Rectangle 2.1.png" alt="" class="slide">
            <img src="./img/gallery/Group 4.png" alt="" class="slide">
            <img src="./img/gallery/Rectangle 2.3.png" alt="" class="slide">
        </div>
    </div>
</div>

<div class="content">
    <div class="container mt-5">
        <div class="tab-panel d-flex justify-content-start pt-3 mb-5 gap-5">
            <div class="genre-filter pb-2 genre-filter--active">Раритет</div>
            <div class="genre-filter pb-2">Новые</div>
            <div class="genre-filter pb-2">Антиквариат</div>
            <div class="genre-filter pb-2">Филателия</div>
        </div>

        <div class="container mt-4 d-flex justify-content-between">

            <div class="col-3">
                <div class="col-10 filter_section mb-3">
                    <div class="row pb-4 align-items-center">
                        <div class="col-10 filter_title">
                            работы
                        </div>
                        <a href="#" class="col-2 d-flex justify-content-end">
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="2" viewBox="0 0 10 2" fill="none">
                                <path d="M10 0H0V2H10V0Z" fill="#202020"/>
                            </svg>
                        </a>
                    </div>
                    <div class="row pb-4 row-gap-2">
                        <div class="d-flex align-items-center justify-content-between">
                            <a href="#" class="filter_name">Живопись</a>
                            <div class="filter_count">383</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <a href="#" class="filter_name">Рисунки и иллюстрации</a>
                            <div class="filter_count">110</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <a href="#" class="filter_name">Театрально-декорационное</a>
                            <div class="filter_count">22</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <a href="#" class="filter_name">Графика</a>
                            <div class="filter_count">22</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <a href="#" class="filter_name">Гравюра</a>
                            <div class="filter_count">10</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <a href="#" class="filter_name">Плакат</a>
                            <div class="filter_count">9</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <a href="#" class="filter_name">Скульптура</a>
                            <div class="filter_count">5</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <a href="#" class="filter_name">Декоративно-прикладное</a>
                            <div class="filter_count">2</div>
                        </div>
                    </div>
                </div>


                <div class="col-10 filter_section mb-3">
                    <div class="row pb-4 align-items-center">
                        <div class="col-10 filter_title">
                            сюжет
                        </div>
                        <a href="#" class="col-2 d-flex justify-content-end">
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="2" viewBox="0 0 10 2" fill="none">
                                <path d="M10 0H0V2H10V0Z" fill="#202020"/>
                            </svg>
                        </a>
                    </div>
                    <div class="row mb-2">
                        <input type="text" class="form-control" placeholder="Быстрый поиск" aria-label="Example text with button addon" aria-describedby="button-addon1">
                    </div>
                    <div class="row pb-4 row-gap-2">
                        <div class="d-flex align-items-center justify-content-start">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            <div class="filter_name ms-2">Портрет</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            <div class="filter_name ms-2">Жанровая сцена</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            <div class="filter_name ms-2">Пейзаж</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            <div class="filter_name ms-2">Литературная сцена</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            <div class="filter_name ms-2">Городской пейзаж</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            <div class="filter_name ms-2">Ню</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            <div class="filter_name ms-2">Интерьер</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            <div class="filter_name ms-2">Натюрморт</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            <div class="filter_name ms-2">Аллегорическая сцена</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            <div class="filter_name ms-2">Историческая сцена</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            <div class="filter_name ms-2">Архитектура</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            <div class="filter_name ms-2">Анимализм</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            <div class="filter_name ms-2">Религиозная сцена</div>
                        </div>
                    </div>
                </div>

                <div class="col-10 filter_section mb-3">
                    <div class="row pb-4 align-items-center">
                        <div class="col-10 filter_title">
                            стили
                        </div>
                        <a href="#" class="col-2 d-flex justify-content-end">
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="2" viewBox="0 0 10 2" fill="none">
                                <path d="M10 0H0V2H10V0Z" fill="#202020"/>
                            </svg>
                        </a>
                    </div>
                    <div class="row pb-4 row-gap-2">
                        <div class="d-flex align-items-center justify-content-start">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            <div class="filter_name ms-2">Реализм</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            <div class="filter_name ms-2">Модерн</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            <div class="filter_name ms-2">Импрессионизм</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            <div class="filter_name ms-2">Соцреализм</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            <div class="filter_name ms-2">Примитивизм</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            <div class="filter_name ms-2">Ар Нуво</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            <div class="filter_name ms-2">Сюрреализм</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <a href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                                    <path d="M6 10L6 0L4 0L4 10H6Z" fill="#202020"/>
                                    <path d="M10 4H0V6H10V4Z" fill="#202020"/>
                                </svg>
                            </a>
                            <div class="filter_name ms-2"><strong>Все стили</strong></div>
                        </div>
                    </div>
                </div>

                <div class="col-10 filter_section mb-3">
                    <div class="row pb-4 align-items-center">
                        <div class="col-10 filter_title">
                            техника
                        </div>
                        <a href="#" class="col-2 d-flex justify-content-end">
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="2" viewBox="0 0 10 2" fill="none">
                                <path d="M10 0H0V2H10V0Z" fill="#202020"/>
                            </svg>
                        </a>
                    </div>
                    <div class="row mb-2">
                        <input type="text" class="form-control" placeholder="Быстрый поиск" aria-label="Example text with button addon" aria-describedby="button-addon1">
                    </div>
                    <div class="row pb-4 row-gap-2">
                        <div class="d-flex align-items-center justify-content-start">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            <div class="filter_name ms-2">Масло</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            <div class="filter_name ms-2">Акварель</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            <div class="filter_name ms-2">Пейзаж</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            <div class="filter_name ms-2">Литературная сцена</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            <div class="filter_name ms-2">Гуашь</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            <div class="filter_name ms-2">Пастель</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            <div class="filter_name ms-2">Тушь</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            <div class="filter_name ms-2">Графит</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            <div class="filter_name ms-2">Цветной карандаш</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            <div class="filter_name ms-2">Уголь</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            <div class="filter_name ms-2">Мел</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            <div class="filter_name ms-2">Гравюра</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            <div class="filter_name ms-2">Перо</div>
                        </div>
                    </div>
                </div>

                <div class="col-10 filter_section mb-3">
                    <div class="row pb-4 align-items-center">
                        <div class="col-10 filter_title">
                            период
                        </div>
                        <a href="#" class="col-2 d-flex justify-content-end">
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="2" viewBox="0 0 10 2" fill="none">
                                <path d="M10 0H0V2H10V0Z" fill="#202020"/>
                            </svg>
                        </a>
                    </div>
                    <div class="row mb-2">
                        <div class="col-5">
                            <input type="text" class="form-control" placeholder="c" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        </div>
                        <div class="col-5">
                            <input type="text" class="form-control" placeholder="по" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        </div>
                   </div>
                    <div class="row pb-4 row-gap-2">
                        <div class="d-flex align-items-center justify-content-start">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            <div class="filter_name ms-2">до 1900</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            <div class="filter_name ms-2">1901-1916</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                            <div class="filter_name ms-2">1916 и позже</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-8">
                <div class="d-flex justify-content-between align-items-start mb-5">
                    <div class="d-flex justify-content-start align-items-center column-gap-2">
                        <div class="filter_active filter_name text-center align-middle">
                            Живопись
                            <a href="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none" class="ms-2">
                                    <path d="M7.12349 2.16124L2.08066 7.01611L2.77421 7.73652L7.81705 2.88164L7.12349 2.16124Z" fill="#202020"/>
                                    <path d="M7.7365 7.12352L2.88162 2.08069L2.16122 2.77424L7.01609 7.81708L7.7365 7.12352Z" fill="#202020"/>
                                </svg>
                            </a>
                        </div>
                        <div class="filter_active filter_name text-center align-middle">
                            Портрет
                            <a href="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none" class="ms-2">
                                    <path d="M7.12349 2.16124L2.08066 7.01611L2.77421 7.73652L7.81705 2.88164L7.12349 2.16124Z" fill="#202020"/>
                                    <path d="M7.7365 7.12352L2.88162 2.08069L2.16122 2.77424L7.01609 7.81708L7.7365 7.12352Z" fill="#202020"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end align-items-center column-gap-3">
                        <a href="#">
                            <img src="./img/show_large_cards_icon.svg" alt="">
                        </a>
                        <a href="#">
                            <img src="./img/show_small_cards_icon.svg" alt="">
                        </a>
                    </div>
                </div>

                <div class="row row-cols-1 row-cols-md-2 row-cols-xxl-3">
                    <div class="col mb-4">
                        <img src="./img/catalog/1.png" alt="" class="card_image w-100">
                        <p class="m-2 text-center">Сундучник. Из серии "Русские типы"<br>1920</p>
                    </div>
                    <div class="col mb-4">
                        <img src="./img/catalog/2.png" alt="" class="card_image w-100">
                        <p class="m-2 text-center">Булочник. Из серии "Русские типы"<br>1920</p>
                    </div>
                    <div class="col mb-4">
                        <img src="./img/catalog/3.png" alt="" class="card_image w-100">
                        <p class="m-2 text-center">Купец с купчихой<br>1914</p>
                    </div>
                    <div class="col mb-4">
                        <img src="./img/catalog/10.png" alt="" class="card_image w-100">
                        <p class="m-2 text-center">Пасхальный обряд (Христосование)<br>1916</p>
                    </div>
                    <div class="col mb-4">
                        <img src="./img/catalog/4.png" alt="" class="card_image w-100">
                        <p class="m-2 text-center">Трактирщик. Из серии "Русские типы"<br>1920</p>
                    </div>
                    <div class="col mb-4">
                        <img src="./img/catalog/5.png" alt="" class="card_image w-100">
                        <p class="m-2 text-center">Портрет Степана Лукича Никольского<br>1901</p>
                    </div>
                    <div class="col mb-4">
                        <img src="./img/catalog/6.png" alt="" class="card_image w-100">
                        <p class="m-2 text-center">Монахиня<br>1901</p>
                    </div>
                    <div class="col mb-4">
                        <img src="./img/catalog/7.png" alt="" class="card_image w-100">
                        <p class="m-2 text-center">Портрет артистки Т. В. Чижовой<br>1924</p>
                    </div>
                    <div class="col mb-4">
                        <img src="./img/catalog/8.png" alt="" class="card_image w-100">
                        <p class="m-2 text-center">Портрет А. Н. Протасовой<br>1900</p>
                    </div>
                    <div class="col mb-4">
                        <img src="./img/catalog/9.png" alt="" class="card_image w-100">
                        <p class="m-2 text-center">На террасе<br>1906</p>
                    </div>
                    <div class="col mb-4">
                        <img src="./img/catalog/1.png" alt="" class="card_image w-100">
                        <p class="m-2 text-center">Сундучник. Из серии "Русские типы"<br>1920</p>
                    </div>
                    <div class="col mb-4">
                        <img src="./img/catalog/2.png" alt="" class="card_image w-100">
                        <p class="m-2 text-center">Булочник. Из серии "Русские типы"<br>1920</p>
                    </div>
                </div>
                <div class="d-flex justify-content-center gap-3 mb-5 mt-5 pb-3">
                    <a href="#" class="pag">1</a>
                    <a href="#" class="pag pag__active">2</a>
                    <a href="#" class="pag">3</a>
                    <a href="#" class="pag">4</a>
                    <a href="#" class="pag">5</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer__nav">
        <a href="#" class="nav-link_">биография</a>
        <a href="#" class="nav-link_">творчество</a>
        <a href="#" class="nav-link_">картины</a>
        <a href="#" class="nav-link_">музеи</a>
    </div>
    <div class="footer__social">
        <a href="" class="nav-link_">
            <img src="./img/vk.png" alt="">
        </a>
        <a href="" class="nav-link_">
            <img src="./img/twitter.png" alt="">
        </a>
        <a href="" class="nav-link_">
            <img src="./img/facebook.svg" alt="">
        </a>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="./node_modules/popper.js/dist/umd/popper.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
{% endblock %}