$header_back_color: #1E1E1E;
$footer_back_color: #202020;
$header_text_color: #F5F5F5;

$headline_text_color: #202020;
$headline_second_color: #C4C4C4;

$main_text_color: #4B4B4B;
$second_text_color: #BFBFBF;